<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}首頁{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        
    </style>
</head>

<body>
    {% include "components/header.html" %}

    <main>
        {% block content %}
        <div class="button-container">
            <button style="background-color: orange;">單張顯示</button>
            <button style="background-color: plum;">全部顯示</button>
            <button style="background-color: lightgreen;">自行選擇</button>
        </div>

        <div class="upload-block" style="background-color: orange;">
            <p>選取檔案</p>
            <p>或拖曳檔案到此</p>
            <button>選取檔案</button>
        </div>
        <button class="search-button">搜尋</button>
        {% endblock %}
    </main>

    {% include "components/footer.html" %}
</body>

</html>
